<div class="container__big-card">
  <div class="big-card__photo">
    <img src="https://picsum.photos/500/200" alt="">
  </div>

  <div class="big-card__title">
    <h1><a href="#"> Lorem Ipsum </a></h1>
  </div>

  <div class="big-card__description">
    <p>
      <a href="#">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In venenatis eros tellus, fringilla suscipit nisi
        molestie sit amet.
        Sed quis sem dictum, ullamcorper nisi placerat, blandit quam.
      </a>
    </p>
  </div>

</div>
