<div [style.padding-left]="paddingLeftValue" [style.border-right]="borderRightValue" [style.width]="widthValue" class="container">
  <div class="container__main">

    <div class="main__photo">
      <img src="https://picsum.photos/250/150" alt="photo">
    </div>

    <div class="main__date">
      <p> 17 Ago 2023 </p>
    </div>

    <div class="main__title">
      <h1>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vehicula nisi.</h1>
    </div>

    <div class="main__content">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vehicula nisi at purus semper, ut viverra
        libero dictum. Duis placerat nisi justo, ut efficitur ligula semper vitae. Nulla dignissim ultrices tincidunt.</p>
    </div>

  </div>
</div>
