* {
  background-color: #ffff;
  color: #1a1b1f;
}

.container {

  height: 450px;
  display: flex;
  flex-direction: column;
  padding-right: 20px;
}

.main__date > p{
  margin-top: 10px;
  font-size: 11px;
  opacity: 0.3;
}

.main__title > h1{
 font-size: 22px;
 letter-spacing: 0.3px;
 font-weight: 600;
 margin-top: 10px;
}

.main__content > p{
  margin-top: 10px;
  font-size: 14px;
  opacity: 0.4;
  line-height: 1.5;
}
