* {
  background-color: #111111;
}

.container__menu-title {
  color: #fff;
  border-top: 1px solid #111111;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.container__menu-title h1 {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 100px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
}

.container__menu-title hr {
  margin-top: 20px;
  margin-bottom: 5px;
}
