* {
  background-color: #ffff;

}

.container > h1{
  font-size: 16px;
  letter-spacing: 1px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  color: #121212;
  opacity: 0.3;
  padding-top: 60px;
  margin-bottom: 40px;
}

.container__posts{
  display: flex;
  flex-direction: row;
}
