
.main-container{
  background-color: #111111;
  max-width: 1280px;
  margin: auto;
  padding: 20px 60px;
  padding-top: 0;
}

.post-container{
  background-color: #ffff;
  max-width: 1280px;
  margin: auto;
  padding: 20px 60px;
  padding-top: 0;
}
