<div class="container__small-card">

  <div class="container__small-card-content">
    <div class="small-card__photo">
      <img src="https://picsum.photos/200/100" alt="">
    </div>

    <div class="small-card__title">
      <h1><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In venenatis eros tellus,
        fringilla suscipit nisi molestie sit amet. Sed quis sem dictum, ullamcorper nisi placerat, blandit quam.</a></h1>
      </div>
    </div>

    <div>
      <hr>
    </div>

</div>
