<div [style.margin-top]="marginValue" class="container__small-card">

  <div class="container__small-card-content">
    <div class="small-card__photo">
      <img src="https://picsum.photos/200/100" alt="">
    </div>

    <div class="small-card__text">

      <div class="small-card__post-date">
        <p> 17 Ago 2023 </p>
      </div>

      <div class="small-card__title">
        <h1><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In venenatis eros tellus,
          fringilla.</a>
        </h1>
      </div>

    </div>
  </div>



</div>
