<div class="container__menu-bar">

  <div class="menu-bar__links">
    <a href="#"><img src="../../../assets/logo.png" alt="logo" class="menu-logo"></a>
    <a href="#" class="menu-link">Home</a>
    <a href="#" class="menu-link">tags</a>
    <a href="#" class="menu-link">random post</a>
    <a href="#" class="menu-link">About</a>
  </div>

  <div class="menu-bar__icon">
    <a href="#"><img src="../../../assets/twitter.png" alt="twitter"></a>
    <a href="#"><img src="../../../assets/instagram.png" alt="instagram"></a>
    <a href="#"><img src="../../../assets/youtube.png" alt="YouTube"></a>
  </div>
</div>
